@model Lab03Mahdi.ViewModels.CommentViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="comment.SenderId" class="control-label"></label>
                <input asp-for="comment.SenderId" class="form-control" />
                <span asp-validation-for="comment.SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment.RecieverId" class="control-label"></label>
                <input asp-for="comment.RecieverId" class="form-control" />
                <span asp-validation-for="comment.RecieverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment.RecieverName" class="control-label"></label>
                <input asp-for="comment.RecieverName" class="form-control" />
                <span asp-validation-for="comment.RecieverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment.Content" class="control-label"></label>
                <input asp-for="comment.Content" class="form-control" />
                <span asp-validation-for="comment.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment.TimeStamp" class="control-label"></label>
                <input asp-for="comment.TimeStamp" class="form-control" />
                <span asp-validation-for="comment.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment.Likes" class="control-label"></label>
                <input asp-for="comment.Likes" class="form-control" />
                <span asp-validation-for="comment.Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="comment.Guid" hidden="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="returnUrl" hidden="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

