@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Lab03 from COMP313 course section  002.</p>
    <p>Please Register or Login to use the application.</p>
</div>
